
/* Stylesheet content from css/main.css in folder common */
/* CSS Document */
*{margin:0; padding0;}
#bgfoot{
	color: #00897B;
	background: #8e9eab; 
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3); 
}
#listStudent{
	background: #eef2f3; /* fallback for old browsers */
}
#addmenu{
	color: #00897B;
	background: #8e9eab; 
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3); 
}
#addmenu1{
	color: #00897B;
	background: #8e9eab; 
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3); 
}
#tabbar{
	background: #00838F; 
	background: -webkit-linear-gradient(to left, #00838F , #eef2f3);
	background: linear-gradient(to left, #00838F , #eef2f3)
}
#btn{
	background: #00897B; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #00897B , #00887B);
	background: linear-gradient(to left, #00897B , #00887B); 
}
#btnAdd {
	color: #00897B;
	background: #8e9eab; 
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3);
}
#btnEdit{
	color: #00897B;
	background: #8e9eab; 
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3);
}
#btnReset {
	color: #00897B;
	background: #8e9eab; 
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3);
}
#btnUpdate {
	color: #00897B;
	background: #8e9eab; 
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3);
}
#btnDelete{
	color: #00897B;
	background: #8e9eab; 
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3);
}
input[type="text"] {
  color:#00897B;
}
input[type="date"]{
	
}
/* Stylesheet content from css/main.css in folder android */

/* this CSS file extends the application CSS file found under common\css */

